.loginPage {
  @apply flex justify-center items-center;
  width: 100%;
  height: 100vh;
  background: #f0f2f5;
}

.signinCard {
  @apply w-80;
  background-color: #f8f8f8;
  box-shadow: 0 0 100px rgb(0 0 0 / 8%);
}

.signupMessage {
  @apply flex items-center justify-center gap-x-2;
}

.signupLink {
  @apply text-blue-500;
  @apply cursor-pointer;
}
