@import url("./global-css-modules/tailwind");
@import "~antd/dist/antd.css";
@import "./theme.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: white) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

// code-block-editor
.code-block-editor > span {
  height: 14rem;
}

.custom-ant-tab .ant-tabs-tab-active {
  border: 2px solid !important;
}

// view results page descriptions:
.configurations-result-page .ant-descriptions-item-label {
  font-weight: 300 !important;
}

.customEditOutlined svg {
  fill: #1890ff !important;
  font-size: 1rem;
}

.configuration-list-container .ant-card-body {
  height: 11rem !important;
}
